.asset-1-1 { position: absolute; display: contents; left: 0; top: 5776px; }
.asset-1-1-1 { position: absolute; height: 4156px; left: 0; top: 5776px; width: 1920px; }
.asset-1-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-1-1-1-1-1 { position: absolute; height: 267.28%; left: 0; max-width: none; top: -138.98%; width: 100%; }
.asset-1-1-2 { position: absolute; height: 3920px; left: 0; top: 5776px; width: 1920px; }
.asset-1-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-1-1-2-1-1 { position: absolute; height: 283.37%; left: 0; max-width: none; top: -147.35%; width: 100%; }
.asset-2-1 { position: absolute; display: contents; left: 1568px; top: 10297px; }
.asset-2-1-1 { position: absolute; height: 380px; left: 1568px; top: 10308px; width: 268px; }
.asset-2-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-2-1-1-1-1 { position: absolute; height: 2923.16%; left: -585.08%; max-width: none; top: -2712.63%; width: 716.43%; }
.asset-2-1-2 { position: absolute; height: 391px; left: 1568px; top: 10297px; width: 227px; }
.asset-2-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-2-1-2-1-1 { position: absolute; height: 2840.92%; left: -690.76%; max-width: none; top: -2633.5%; width: 845.83%; }
.asset-3-1 { position: absolute; display: contents; left: 0; top: 9852px; }
.asset-3-1-1 { position: absolute; height: 248px; left: 0; top: 9852px; width: 388px; }
.asset-3-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-3-1-1-1-1 { position: absolute; height: 4479.03%; left: 0; max-width: none; top: -3972.58%; width: 494.85%; }
.asset-3-1-2 { position: absolute; height: 248px; left: 60px; top: 9852px; width: 370px; }
.asset-3-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-3-1-2-1-1 { position: absolute; height: 4479.03%; left: -16.76%; max-width: none; top: -3972.58%; width: 518.93%; }
.asset-4-1 { position: absolute; display: contents; left: 1428px; top: 10660px; }
.asset-4-1-1 { position: absolute; height: 324px; left: 1428px; top: 10660px; width: 184px; }
.asset-4-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-4-1-1-1-1 { position: absolute; height: 3428.39%; left: -776.1%; max-width: none; top: -3290.12%; width: 1043.5%; }
.asset-4-1-2 { position: absolute; height: 324px; left: 1428px; top: 10660px; width: 232px; }
.asset-4-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-4-1-2-1-1 { position: absolute; height: 3428.39%; left: -615.52%; max-width: none; top: -3290.12%; width: 827.6%; }
.asset-5-1 { position: absolute; display: contents; left: 1284px; top: 10492px; }
.asset-5-1-1 { position: absolute; height: 168px; left: 1284px; top: 10492px; width: 264px; }
.asset-5-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-5-1-1-1-1 { position: absolute; height: 6611.9%; left: -486.37%; max-width: none; top: -6245.24%; width: 727.29%; }
.asset-5-1-2 { position: absolute; height: 143px; left: 1284px; top: 10517px; width: 284px; }
.asset-5-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-5-1-2-1-1 { position: absolute; height: 7767.83%; left: -452.12%; max-width: none; top: -7354.55%; width: 676.07%; }
.asset-6-1 { position: absolute; display: contents; left: 1660px; top: 10697px; }
.asset-6-1-1 { position: absolute; height: 300px; left: 1660px; top: 10728px; width: 200px; }
.asset-6-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-6-1-1-1-1 { position: absolute; height: 3702.67%; left: -830.01%; max-width: none; top: -3576%; width: 960.02%; }
.asset-6-1-2 { position: absolute; height: 331px; left: 1660px; top: 10697px; width: 200px; }
.asset-6-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-6-1-2-1-1 { position: absolute; height: 3355.89%; left: -830.01%; max-width: none; top: -3231.72%; width: 960.02%; }
.asset-7-1 { position: absolute; display: contents; left: 450px; top: 9932px; }
.asset-7-1-1 { position: absolute; height: 212px; left: 450px; top: 9932px; width: 282px; }
.asset-7-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-7-1-1-1-1 { position: absolute; height: 5239.62%; left: -159.58%; max-width: none; top: -4684.91%; width: 680.86%; }
.asset-7-1-2 { position: absolute; height: 204px; left: 451px; top: 9942px; width: 280px; }
.asset-7-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-7-1-2-1-1 { position: absolute; height: 5445.1%; left: -161.08%; max-width: none; top: -4873.53%; width: 685.73%; }
.asset-8-1 { position: absolute; display: contents; left: 288px; top: 10082px; }
.asset-8-1-1 { position: absolute; height: 276px; left: 288px; top: 10082px; width: 162px; }
.asset-8-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-8-1-1-1-1 { position: absolute; height: 4024.64%; left: -177.79%; max-width: none; top: -3652.9%; width: 1185.21%; }
.asset-8-1-2 { position: absolute; height: 276px; left: 319px; top: 10082px; width: 132px; }
.asset-8-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-8-1-2-1-1 { position: absolute; height: 4024.64%; left: -241.68%; max-width: none; top: -3652.9%; width: 1454.57%; }
.asset-9-1 { position: absolute; display: contents; left: 430px; top: 9696px; }
.asset-9-1-1 { position: absolute; height: 236px; left: 430px; top: 9696px; width: 276px; }
.asset-9-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-9-1-1-1-1 { position: absolute; height: 4706.78%; left: -155.8%; max-width: none; top: -4108.47%; width: 695.66%; }
.asset-9-1-2 { position: absolute; height: 236px; left: 450px; top: 9696px; width: 233px; }
.asset-9-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-9-1-2-1-1 { position: absolute; height: 4706.78%; left: -193.14%; max-width: none; top: -4108.47%; width: 824.05%; }
.asset-10-1 { position: absolute; display: contents; left: 520px; top: 10024px; }
.asset-10-1-1 { position: absolute; height: 980px; left: 520px; top: 10024px; width: 940px; }
.asset-10-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-10-1-1-1-1 { position: absolute; height: 1133.47%; left: -55.32%; max-width: none; top: -1022.86%; width: 204.26%; }
.asset-10-1-2 { position: absolute; height: 980px; left: 520px; top: 10024px; width: 940px; }
.asset-10-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-10-1-2-1-1 { position: absolute; height: 1133.47%; left: -55.32%; max-width: none; top: -1022.86%; width: 204.26%; }
.asset-11-1 { position: absolute; display: contents; left: 0; top: 8540px; }
.asset-11-1-1 { position: absolute; height: 1156px; left: 0; top: 8540px; width: 948px; }
.asset-11-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-11-1-1-1-1 { position: absolute; height: 960.9%; left: 0; max-width: none; top: -738.75%; width: 202.54%; }
.asset-11-1-2 { position: absolute; height: 1156px; left: 0; top: 8540px; width: 914px; }
.asset-11-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-11-1-2-1-1 { position: absolute; height: 960.9%; left: 0; max-width: none; top: -738.75%; width: 210.07%; }
.asset-12-1 { position: absolute; display: contents; left: 52px; top: 7360px; }
.asset-12-1-1 { position: absolute; height: 596px; left: 52px; top: 7360px; width: 852px; }
.asset-12-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-12-1-1-1-1 { position: absolute; height: 1863.76%; left: -6.11%; max-width: none; top: -1234.9%; width: 225.36%; }
.asset-12-1-2 { position: absolute; height: 596px; left: 52px; top: 7360px; width: 852px; }
.asset-12-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-12-1-2-1-1 { position: absolute; height: 1863.72%; left: -6.1%; max-width: none; top: -1235.05%; width: 225.35%; }
.asset-12-1-3 { position: absolute; height: 596px; left: 52px; top: 7360px; width: 852px; }
.asset-12-1-3-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-12-1-3-1-1 { position: absolute; height: 1863.76%; left: -6.11%; max-width: none; top: -1234.9%; width: 225.36%; }
.asset-13-1 { position: absolute; display: contents; left: 948px; top: 7900px; }
.asset-13-1-1 { position: absolute; height: 640px; left: 948px; top: 7900px; width: 912px; }
.asset-13-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-13-1-1-1-1 { position: absolute; height: 1735.62%; left: -103.95%; max-width: none; top: -1234.38%; width: 210.53%; }
.asset-13-1-2 { position: absolute; height: 640px; left: 948px; top: 7900px; width: 912px; }
.asset-13-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-13-1-2-1-1 { position: absolute; height: 1735.62%; left: -103.95%; max-width: none; top: -1234.38%; width: 210.53%; }
.asset-14-1 { position: absolute; display: contents; left: 111px; top: 3427px; }
.asset-14-1-1 { position: absolute; height: 652px; left: 1460px; top: 9386px; width: 460px; }
.asset-14-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-14-1-1-1-1 { position: absolute; height: 1480.54%; left: -257.54%; max-width: none; top: -1274.17%; width: 357.54%; }
.asset-14-1-2 { position: absolute; height: 1673px; left: 1113px; top: 5554px; width: 807px; }
.asset-14-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-14-1-2-1-1 { position: absolute; height: 534.74%; left: -88.98%; max-width: none; top: -271.07%; width: 188.98%; }
.asset-14-1-3 { position: absolute; display: flex; height: 2266.592px; align-items: center; justify-content: center; left: 111px; top: 3427px; width: 1717.092px; }
.asset-14-1-3-1 { flex: none; transform: rotate(7deg); }
.asset-14-1-3-1-1 { height: 2102.902px; position: relative; width: 1471.784px; }
.asset-14-1-3-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-14-1-3-1-1-1-1 { position: absolute; height: 442.01%; left: 0; max-width: none; top: -145.68%; width: 107.62%; }
.asset-15-1 { position: absolute; height: 546px; left: 0; top: 1820px; width: 1920px; }
.asset-15-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-15-1-1-1 { position: absolute; height: 2034.43%; left: 0; max-width: none; top: -356.41%; width: 100%; }
.asset-16-1 { position: absolute; display: contents; left: 800px; top: 2160px; }
.asset-16-1-1 { position: absolute; height: 1604px; left: 800px; top: 2160px; width: 1120px; }
.asset-16-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-16-1-1-1-1 { position: absolute; height: 692.52%; left: -71.43%; max-width: none; top: -134.66%; width: 171.43%; }
.asset-16-1-2 { position: absolute; height: 536px; left: 1388px; top: 3228px; width: 396px; }
.asset-16-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-16-1-2-1-1 { position: absolute; height: 2072.39%; left: -350.51%; max-width: none; top: -602.24%; width: 484.86%; }
.asset-16-1-3 { position: absolute; height: 1584px; left: 800px; top: 2180px; width: 1120px; }
.asset-16-1-3-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-16-1-3-1-1 { position: absolute; height: 701.26%; left: -71.43%; max-width: none; top: -137.63%; width: 171.43%; }
.asset-16-1-4 { position: absolute; height: 136px; left: 1472px; top: 3320px; width: 200px; }
.asset-16-1-4-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-16-1-4-1-1 { position: absolute; height: 8167.65%; left: -736.01%; max-width: none; top: -2441.18%; width: 960.02%; }
.asset-17-1 { position: absolute; height: 1088px; left: 456px; top: 4556px; width: 1464px; }
.asset-17-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-17-1-1-1 { position: absolute; height: 1020.96%; left: -31.15%; max-width: none; top: -418.75%; width: 131.15%; }
.asset-18-1 { position: absolute; display: contents; left: 693px; top: 4513px; }
.asset-18-1-1 { position: absolute; height: 435px; left: 693px; top: 4513px; width: 529px; }
.asset-18-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-18-1-1-1-1 { position: absolute; height: 2553.56%; left: -131.01%; max-width: none; top: -1037.47%; width: 362.96%; }
.asset-18-1-2 { position: absolute; height: 435px; left: 693px; top: 4513px; width: 529px; }
.asset-18-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-18-1-2-1-1 { position: absolute; height: 2553.56%; left: -131.01%; max-width: none; top: -1037.47%; width: 362.96%; }
.asset-19-1 { position: absolute; display: contents; left: 1296px; top: 1820px; }
.asset-19-1-1 { position: absolute; height: 528px; left: 1296px; top: 1820px; width: 436px; }
.asset-19-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-19-1-1-1-1 { position: absolute; height: 2103.79%; left: -297.25%; max-width: none; top: -344.7%; width: 440.37%; }
.asset-19-1-2 { position: absolute; height: 528px; left: 1296px; top: 1820px; width: 436px; }
.asset-19-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-19-1-2-1-1 { position: absolute; height: 2103.79%; left: -297.25%; max-width: none; top: -344.7%; width: 440.38%; }
.asset-20-1 { position: absolute; display: contents; left: 284px; top: 1316px; }
.asset-20-1-1 { position: absolute; height: 976px; left: 284px; top: 1316px; width: 1012px; }
.asset-20-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-20-1-1-1-1 { position: absolute; height: 1138.09%; left: -28.06%; max-width: none; top: -134.93%; width: 189.72%; }
.asset-20-1-2 { position: absolute; height: 976px; left: 284px; top: 1316px; width: 1012px; }
.asset-20-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-20-1-2-1-1 { position: absolute; height: 1138.11%; left: -28.06%; max-width: none; top: -134.84%; width: 189.73%; }
.asset-21-1 { position: absolute; display: contents; left: 0; top: 0; }
.asset-21-1-1 { position: absolute; height: 1100px; left: 0; top: 0; width: 1920px; }
.asset-21-1-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-21-1-1-1-1 { position: absolute; height: 1009.82%; left: 0; max-width: none; top: 0; width: 100%; }
.asset-21-1-2 { position: absolute; height: 1096px; left: 0; top: 0; width: 1920px; }
.asset-21-1-2-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-21-1-2-1-1 { position: absolute; height: 1013.5%; left: 0; max-width: none; top: 0; width: 100%; }
.asset-22-1 { position: absolute; height: 608px; left: 776px; top: 5644px; width: 312px; }
.asset-22-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-22-1-1-1 { position: absolute; height: 1826.97%; left: -248.72%; max-width: none; top: -928.29%; width: 615.4%; }
.asset-23-1 { position: absolute; height: 632px; left: 796px; top: 5620px; width: 292px; }
.asset-23-1-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; position: absolute; overflow: hidden; pointer-events: none; }
.asset-23-1-1-1 { position: absolute; height: 1757.59%; left: -272.61%; max-width: none; top: -889.24%; width: 657.55%; }
